<a href="https://colab.research.google.com/github/weeblord2030/D/blob/master/PCA_for_Iris_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
# load dataset 
df = pd.read_csv(url, names = ['sepal length', ' sepal width', 'petal length', 'petal width', 'target'])

In [37]:
df

     sepal length   sepal width  petal length  petal width          target
0             5.1           3.5           1.4          0.2     Iris-setosa
1             4.9           3.0           1.4          0.2     Iris-setosa
2             4.7           3.2           1.3          0.2     Iris-setosa
3             4.6           3.1           1.5          0.2     Iris-setosa
4             5.0           3.6           1.4          0.2     Iris-setosa
..            ...           ...           ...          ...             ...
145           6.7           3.0           5.2          2.3  Iris-virginica
146           6.3           2.5           5.0          1.9  Iris-virginica
147           6.5           3.0           5.2          2.0  Iris-virginica
148           6.2           3.4           5.4          2.3  Iris-virginica
149           5.9           3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [38]:
features = ['sepal length', ' sepal width', 'petal length', 'petal width']
from sklearn.preprocessing import StandardScaler

x = df.loc [:, features].values
y = df.loc [:, ['target']].values

In [39]:
x = StandardScaler().fit_transform(x)

In [40]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)
principalComponent = pca.fit_transform(x)

principleDF = pd.DataFrame(data = principalComponent, columns = ['PC1', 'PC2'])

In [41]:
principleDF

          PC1       PC2
0   -2.264542  0.505704
1   -2.086426 -0.655405
2   -2.367950 -0.318477
3   -2.304197 -0.575368
4   -2.388777  0.674767
..        ...       ...
145  1.870522  0.382822
146  1.558492 -0.905314
147  1.520845  0.266795
148  1.376391  1.016362
149  0.959299 -0.022284

[150 rows x 2 columns]